body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--felt-color);
    height: 600px;
    width: 1000px;
    margin: auto;
    position: relative;
}

#menu {
    color: white;
    width: 300px;
    position: absolute;
    left: 30px;
    top: 30px;
}

label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin: 20px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

label span {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

label:hover input ~ span {
    background-color: #ccc;
}

label input:checked ~ span {
    background-color: #2196F3;
}

label span:after {
    content: "";
    position: absolute;
    display: none;
}

label input:checked ~ span:after {
    display: block;
}

label span:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.card {
    height: 150px;
    position: absolute;
    transition: transform 0.5s ease;
}

#dealer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 200px;
    position: relative;
    margin: auto;
    top: 50px;
}

#player {
    width: 120px;
    height: 150px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 50px;
}

#scoreboard {
    color: white;
    width: 220px;
    height: 100px;
    position: absolute;
    right: 30px;
    top: 40px;
    font-size: 28px;
    line-height: 35px;
}

#decisions {
    width: 350px;
    position: absolute;
    margin: auto;
    bottom: 30px;
    right: 30px;
    text-align: right;
}

main button {
    width: 130px;
    height: 45px;
    padding: 8px;
    font-size: 20px;
    margin: 5px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease; 
    background-color: white;
}

main button:hover {
    background-color: #b9b9b9;
}

main button#reset {
    background-color: red;
    color: white;
}

#result {
    width: 400px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}

#result p {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 26px;
    color: white;
    padding: 30px;
}

#result #incorrect {
    color: red;
}

